@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

:root {
    --clr-green: #38d63a;
    --clr-orange: #e39400;
    --clr-red: #e12929;
}

*,
::before,
::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Quicksand', sans-serif;
}
  
hr{
  clear: both;
}

.green{
  color: var(--clr-green);
}

.orange{
  color: var(--clr-orange);
}

.red{
  color: var(--clr-red);
}

.biv-wrapper{
  height: 100vh;
  width: 40vw;
  padding: 1rem 2rem;
  background-color: #ffffff;
  overflow-y: auto;
}
  
.get-started{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.biv-gallery{
  text-align: center;
  padding: 1.5rem 0rem;
}

.biv-title{
  margin: 0.5rem 0rem;
  display: flex;
  justify-content: space-between;
}

.biv-title h3{
  color: gray;
}

.biv-title h2{
  align-self: center;
}

.biv-thumb{
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
}

.directions{
  margin: 2rem 0rem;
  border: 2px solid rgba(0,0,0,0.1);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.4);
  border-radius: 8px;
  padding: 1rem;
}

.directions>h3{
  margin-bottom: 1rem;
}

.user{
  text-align: center;
  grid-area: user;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.avatar{
  height: auto;
}

.comment{
  margin: 2rem 0rem 1rem;
  border: 2px solid rgba(0,0,0,0.1);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.4);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 30px;
  grid-template-areas: "user text";
  padding: 0.5rem;
}

.biv-comments>a.btn{
  margin-bottom: 1rem;
}

.comment-text{
  grid-area: text;
  align-self: center;
}

.biv-services{
  margin-top: 2rem;
  display: flex;
}

.services{
  border: 2px solid rgba(0,0,0,0.1);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.4);
  border-radius: 8px;
  padding:1rem 1rem 1rem 0rem;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 10px;
  margin-right: 5px;
}

.check-in{
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  border: 2px solid rgba(0,0,0,0.1);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.4);
  padding: 1rem;
  border-radius: 8px;
  margin-left: 5px;
}

.check-in span{
  align-self: center;
}

.check-in .btn{
  align-self: center;
}

.service{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.service-icon{
  width: 30px;
}

.btn{
  float: right;
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 10px;
  border: 2px solid #494949 !important;
  border-radius: 5px;
}

.btn:hover {
  color: #ffffff !important;
  background: #8eb467;
  border-color:#8eb467 !important;
  transition: all 0.4s ease 0s;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar{
  width: 6px;
  background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #555;
}

.modal-window {
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: 40vw;
  max-height: 50vh;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: #ffffff;
  overflow-y: auto;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  font-size: 36px;
}

.modal-close:hover {
  color: black;
}

#mountain{
  height: 200px;
  width: 200px;
  margin: 33vh 0rem 2rem 0rem;
}

#map{
  height: 100vh;
  width: 60vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.home{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.home img{
  width: 40px;
  height: 40px;
}