@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*,
::before,
::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Quicksand', sans-serif;
}

.container{
  position: relative;
}

.landing{
  min-height: 100vh;
  background: url("../img/placeholder.jpg");
  background-size: cover;
  padding: 0rem 5rem;
  text-align: center;
}

.bivs{
  height: 100vh;
  width: 40vw;
  padding: 3rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#mountain{
  height: 20vh;
  width: 20vw;
  margin-bottom: 3rem;
}

#map{
  height: 100vh;
  width: 60vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}